.headshot {
    height: 10em;
    width: 10em;
    background-size: cover;
    background-position: center;
    border-radius: 5em;
}

.interest {
    text-transform: capitalize;
}

.therapist-row {
    margin: 1em 0;
    padding: 0.5em 0;
}
